@font-face {
    font-family: "TT_Norms";
    font-style: normal;
    font-weight: 700;
    src: url("../FONTS/TTNorms-Bold.woff") format("woff"),
        url("../FONTS/TTNorms-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "TT_Norms";
    font-style: normal;
    font-weight: 500;
    src: url("../FONTS/TTNorms-Medium.woff") format("woff"),
        url("../FONTS/TTNorms-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "TT_Norms";
    font-style: normal;
    font-weight: 400;
    src: url("../FONTS/TTNorms-Regular.woff") format("woff"),
        url("../FONTS/TTNorms-Regular.woff2") format("woff2");
}
