extends ../templatesOrExtends/layout.pug

block meta
    meta(name="keywords", content="электрод, пензаэлектрод, купить электрод")
    meta(name="description", content="Покупка электродов в городе Пенза")
    title Купить электроды в Пензе
block content
    include ../includes/pageComponents/elektrod/elektrod.pug
